body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}
body.wrapper {
  box-sizing: border-box;
  position: relative;
  min-height: calc(90% - 50px);
  width: 100%;
  padding-bottom: 65px;
}

@font-face {
  font-family: Circular;
  src: url("Circular_Air-Book.woff2") format("woff2"), url("Circular_Air-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("Circular_Air-Book_Italic.woff2") format("woff2"), url("Circular_Air-Book_Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Circular;
  src: url("Circular_Air-Bold.woff2") format("woff2"), url("Circular_Air-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("Circular_Air-Light.woff2") format("woff2"), url("Circular_Air-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("Circular_Air-Light.woff2") format("woff2"), url("Circular_Air-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

.page-box {
  background-color: #8fbc8f;
  background-clip: content-box;
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.profile-header {
  box-sizing: border-box;
  width: 100%;
  position: relative;
}
.profile-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.profile-header img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 0;
}
.profile-header.transition {
  transition: all 0.4s ease-out 0.2s;
}
.profile-header div.info {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  text-align: center;
  width: 100%;
}
.page-box section.content-container {
  position: relative;
  box-sizing: border-box;
  background-color: #8fbc8f;
  color: #2c2e2f;
  overflow: visible;
  transition: all 0.4s ease-out 0.2s;
}
h1 {
  text-align: center;
  font: 900 50px "Montserrat", arial, verdana;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  color: #fff;
}
p {
  font: 300 16px "Circular", arial, verdana;
  padding: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
}

ul {
  margin: 0px 0 0 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #666;
  display: block;
  font: 200 16px "Circular", arial, verdana;
  padding: 7px 10px 7px 10px;
}
ul li a b {
  position: relative;
  top: 10px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
}
ul li span.igicon {
  float: left;
  margin: 5px 10px 0 0;
}
ul li span.igicon img {
  width: 30px;
  height: auto;
}
ul li span.scicon {
  float: left;
  width: 30px;
  background: #fbe90a;
  border-radius: 50px;
  margin: 5px 10px 0 0;
  text-align: center;
  padding: 6px 0 0 0;
}
ul li span.scicon img {
  width: 18px;
  height: auto;
}
ul li span.oficon {
  float: left;
  margin: 5px 10px 0 0;
}
ul li span.oficon img {
  width: 30px;
  height: auto;
}
ul li .arrow {
  float: right;
  color: #666;
}
.linkOnly {
  display: none;
  background: #0094cc;
  text-align: center;
  padding: 10px 10px 20px 10px;
}
.linkOnly b {
  padding: 0 0 5px 0;
  display: inline-block;
  font: bold 16px "Circular", Helvetica, Arial, sans-serif;
  color: #fff;
}
.linkOnly a {
  border-radius: 5px;
  background: ;
  padding: 15px 25px;
  background: #000 !important;
  color: #fff;
  display: inline-block;
  margin: 15px 0 0 0;
  font-weight: bold;
}
.footer {
  text-align: center;
  padding: 20px 0;
}
.footer b {
  font: 14px "Circular", Helvetica, Arial, sans-serif;
}
.footer ul {
  margin: 5px 0 0 0;
  padding: 0;
}
.footer li {
  font: 14px "Circular", Helvetica, Arial, sans-serif;
  color: #666;
  list-style: none;
  display: inline-block;
}
.footer li a {
  text-decoration: none;
  color: #666;
  display: inline-block;
  font-size: 14px !important;
}
.footer li a:hover {
  color: #003087;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  body .wrapper {
    min-height: calc(99.7% - 70px);
  }
  .page-box {
    width: 480px;
    margin-top: 65px;
    border-radius: 10px;
    box-shadow: 4px 8px 20px 0px rgba(47, 57, 112, 0.15);
  }
  .page-box section.content-container {
    max-width: none;
  }
}
.stars {
  padding: 1rem 0;
  font-size: 1.7rem;
}

.stars i {
  color: #27ae60;
}

.stars span {
  color: #999;
}